@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.hero {
  color: white;
  font-size: 3em;
  font-weight: 600;
  margin: 2vh;
}

body, #root {
  width: 100vw;
  background-color: #202124;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.config {
  color: white;
}

.config select {
  margin-left: 5px;
  margin-right: 15px;
}

.config button {
  background-color: #009AFE;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
}

.icon {
  position: relative;
  display: grid;
  place-items: center;
  cursor: pointer;

  font-size: 2em;
  color: white;
}

@keyframes desc-aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icon-desc {
  position: absolute;
  right: -100%;
  bottom: -90%;

  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 15px;
  animation: desc-aparecer 1.2s ease;
}
