.all-cards-container {
  margin-bottom: 15px;
}

.card-container {
  display: flex;
}

.card {
  border-radius: 10px;
  color: white;
  display: grid;
  font-size: 1.5em;
  height: 85px;
  width: 85px;
  margin: 3px;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.active {
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.rigth {
  background-color: #3aa394 !important;
}

.hasOne {
  background-color: #D3AD69 !important;
}

.wrong {
  background-color: rgba(0, 0, 0, 0.6);
}

.card-active {
  border: 5px solid white;
}

@media screen and (max-width: 450px) {
  .card {
    width: 60px;
    height: 60px;
    font-size: 1.2em;
  }
}
