.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard-bot {
  width: 64px;
  height: 78px;
  color: white;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.5em;
  font-weight: 600;
}

.enter-bot {
  width: 150px !important;
}

.keyboard-row-2 {
  display: flex;
}

.keyboard-row-2 > div {
  width: 740px;
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.keyboard-row-3 {
  display: flex;
}

.keyboard-row-3 > div {
  width: 640px;
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.keyboard-bot:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.keyboard-bot:disabled {
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes aparecer {
  0% {
    opacity: 0;
    top: 8%;
  }
  100% {
    opacity: 1;
    top: 10%;
  }
}

.wrong-word {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10%;
  padding: 5px 25px;
  background-color: #D64550;
  border-radius: 15px;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  animation: aparecer .5s ease;
}

.wrong-word > svg {
  margin-left: 5px;
  font-size: 0.8em;
}

@media screen and (max-width: 450px) {
  .keyboard {
    width: 100%;
  }

  .keyboard-bot {
    width: 30px;
    height: 63px;
    margin: 2px;
    font-size: 1.2em;
  }

  .keyboard-row-2 > div {
    width: 330px;
    margin-right: 2px;
  }

  .keyboard-row-3 > div {
    width: 270px;
    margin-right: 2px;
  }

  .enter-bot {
    width: 83px !important;
  }
}
